@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
/* index.css */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evitar scroll horizontal en toda la aplicación */
}

@theme {
    --color-primary: oklch(0.47 0.0712 200.23);
    --color-secondary: oklch(0.89 0.221 123.91);
    --color-accent: oklch(0.75 0.1881 129.17);
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos personalizados para el scroll */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(240, 255, 240, 0.5);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(27, 103, 107, 0.4);
    border-radius: 10px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(27, 103, 107, 0.7);
}

/* Firefox scrollbar */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(27, 103, 107, 0.4) rgba(240, 255, 240, 0.5);
}